*.swp
*.*~
project.lock.json
.DS_Store
*.pyc

# Visual Studio Code
.vscode

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/
msbuild.log
msbuild.err
msbuild.wrn

# Visual Studio 2015
.vs/

# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/oc-poc-react/oc-poc/node_modules
/oc-poc-react/oc-poc/.pnp
/oc-poc-react/oc-poc/.pnp.js

# testing
/oc-poc-react/oc-poc//coverage

# production
/oc-poc-react/oc-poc/build

# misc
/oc-poc-react/oc-poc/.DS_Store
/oc-poc-react/oc-poc/.env.local
/oc-poc-react/oc-poc/.env.development.local
/oc-poc-react/oc-poc/.env.test.local
/oc-poc-react/oc-poc/.env.production.local

/oc-poc-react/oc-poc/npm-debug.log*
/oc-poc-react/oc-poc/yarn-debug.log*
/oc-poc-react/oc-poc/yarn-error.log*


# dependencies
/oc-poc-react/oc-poc-copartis/node_modules
/oc-poc-react/oc-poc-copartis/.pnp
/oc-poc-react/oc-poc-copartis/.pnp.js

# testing
/oc-poc-react/oc-poc-copartis//coverage

# production
/oc-poc-react/oc-poc-copartis/build

# misc
/oc-poc-react/oc-poc-copartis/.DS_Store
/oc-poc-react/oc-poc-copartis/.env.local
/oc-poc-react/oc-poc-copartis/.env.development.local
/oc-poc-react/oc-poc-copartis/.env.test.local
/oc-poc-react/oc-poc-copartis/.env.production.local

/oc-poc-react/oc-poc-copartis/npm-debug.log*
/oc-poc-react/oc-poc-copartis/yarn-debug.log*
/oc-poc-react/oc-poc-copartis/yarn-error.log*

# dependencies
/oc-poc-react/oc-poc-natixis/node_modules
/oc-poc-react/oc-poc-natixis/.pnp
/oc-poc-react/oc-poc-natixis/.pnp.js

# testing
/oc-poc-react/oc-poc-natixis//coverage

# production
/oc-poc-react/oc-poc-natixis/build

# misc
/oc-poc-react/oc-poc-natixis/.DS_Store
/oc-poc-react/oc-poc-natixis/.env.local
/oc-poc-react/oc-poc-natixis/.env.development.local
/oc-poc-react/oc-poc-natixis/.env.test.local
/oc-poc-react/oc-poc-natixis/.env.production.local

/oc-poc-react/oc-poc-natixis/npm-debug.log*
/oc-poc-react/oc-poc-natixis/yarn-debug.log*
/oc-poc-react/oc-poc-natixis/yarn-error.log*

#config
/oc-poc-react/oc-poc-natixis/src/config/fbConfig.js
